@if (showSettings) {
<mat-card>
  <mat-checkbox [checked]="settings.allColumns" (change)="updateSetting('allColumns', $event.checked)">
    Show all columns
  </mat-checkbox>
  <mat-card-actions>
    Special Operations:
    @if (ds.task?.type === 'train') {
      <button
        mat-button
        (click)="splitSet()"
        matTooltip="Automatically genrates a random sample of 66% of this data chunk.
          Also generates a new coding task with the rest.
          Prerequisites: All rows are coded and this is a training task."
      >Split Set</button>
    }
  </mat-card-actions>
</mat-card>
}

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="setId">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>User-ID</th>
    <td mat-cell *matCellDef="let element">{{element.setId}}</td>
  </ng-container>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="subForm">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>SubForm</th>
    <td mat-cell *matCellDef="let element">{{element.subform}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element">{{element.status}}</td>
  </ng-container>

  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
    <td mat-cell *matCellDef="let element">{{element.value}}</td>
  </ng-container>

  <ng-container matColumnDef="code">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code</th>
    <td mat-cell *matCellDef="let element">
      <app-response-code [response]="element" prefer="code" />
    </td>
  </ng-container>

  <ng-container matColumnDef="codes">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Code(s)</th>
    <td mat-cell *matCellDef="let element">
      <app-response-code [response]="element" prefer="codes"/>
    </td>
  </ng-container>

  <ng-container matColumnDef="score">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Score</th>
    <td mat-cell *matCellDef="let element">{{element.score}}</td>
  </ng-container>

  <ng-container matColumnDef="settings">
    <th mat-header-cell *matHeaderCellDef class="auto-width-column">
      <button mat-icon-button (click)="toggleSettings()"><mat-icon>settings</mat-icon></button></th>
    <td mat-cell class="auto-width-column" *matCellDef="let element"></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


