<span class="section">
  @if (ds.serviceInfo) {
    <span class="mdc-button mat-mdc-button-base" [style.color]="ds.serviceInfo.id | serviceColor">
      {{ds.serviceInfo.id}} ({{ds.serviceInfo.type}} version {{ds.serviceInfo.version}})
    </span>
  }
</span>

<span class="section">
  <a mat-button href="/start" [disabled]="currentRoute === 'start'">Services</a>
  @if (ds.serviceInfo) {
    <a mat-button href="/tasks" [disabled]="currentRoute === 'tasks'">Tasks</a>
    <a mat-button href="/coders" [disabled]="currentRoute === 'coders'">Coders</a>
  }
</span>

@if (ds.serviceInfo && (currentRoute === 'task') && ds.task) {
  <span class="section">
    <span class="mdc-button mat-mdc-button-base">Task: {{ds.task.label || ds.task.id}} - {{ds.task | status}}</span>
    @if (ds.task | taskIsReady) {
      <button mat-button (click)="commit()">Commit{{ds.status !== 'create' ? ' again' : ''}}</button>
    }
    @if ((ds.status !== 'start')) {
      <button mat-button (click)="delete()">Delete</button>
    }
  </span>
}

@if (ds.currentChunk) {
  <span class="section">
     <span class="mdc-button mat-mdc-button-base">Data: {{ds.data.length}} {{ds.currentChunk.type}} (#{{ds.currentChunk.id.substring(0, 4)}}…)</span>
      <button mat-button (click)="download('asCSV')">Download CSV</button>
      <button mat-button (click)="download('asJSON')">Download JSON</button>
      <button mat-button (click)="deleteChunk()">Delete</button>
  </span>
}

@if (ds.serviceInfo && (currentRoute === 'tasks')) {
  <span class="section">
    <span class="mdc-button mat-mdc-button-base">New Task:</span>
    <button mat-button (click)="addTask('train')">Train</button>
    <button mat-button (click)="addTask('code')">Code</button>
  </span>
}

@if (cs.config$ | async; as config ) {
  @if (config.userlink) {
    <span class="section right">
      <a mat-button [href]="config.userlink">User</a>
    </span>
  }
}
