<span class="section">
  <a mat-button href="/start">
    Coding Service:
  </a>
  @if (ds.selectedService) {
    <span class="mdc-button mat-mdc-button-base">{{ds.serviceInfo?.id}} ({{ds.serviceInfo?.type}} version {{ds.serviceInfo?.version}})</span>
  }
</span>

@if (ds.selectedService) {

  @if (ds.task) {
    <span class="section">
      <a mat-button href="/tasks">Task:</a>
      <span class="mdc-button mat-mdc-button-base">{{ds.task.label || ds.task.id}} - {{ds.task | status}}d</span>
      <button mat-button (click)="commit()">Commit</button>
      <button mat-button (click)="delete()">Delete</button>
    </span>
  }

  <span class="section">
    <span class="mdc-button mat-mdc-button-base">New Task:</span>
    <button mat-button (click)="addTask('train')">Train</button>
    <button mat-button (click)="addTask('code')">Code</button>
  </span>
}




