.wrapper {
  width: 100%;
  position: relative;
  height: 100%;
  word-break: keep-all;
  white-space: nowrap;
}



.bar {
  display: inline-block;
  overflow: hidden;
  height: 100%;
  width: 100%;
  text-align: center;
}
