@if (ds.serviceInfo && ds.task && instructionsSchema) {
  <h3>{{instructionsSchema.$id}}</h3>
  <p [innerHTML]="ds.serviceInfo.instructionsText"></p>
  @for (control of controls; track $index) {
    <app-control [control]="control" />
  }

  @if (errors.length) {
    <h3>Error in JSON schema</h3>
    @for (e of errors; track $index) {
      <mat-error>{{ e }}</mat-error>
    }
  }
  @let taskStatus = ds.task | status;
  <button mat-flat-button type="submit" [disabled]="['commit', 'start'].includes(taskStatus)" (click)="submit()">Save</button>
  <button type="button" mat-flat-button (click)="fileInput.click()">Upload</button>
  <button mat-flat-button type="submit" (click)="download()">Download</button>
  <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file" accept="application/json">
}
