@if (ds.task) {
  <mat-tab-group (selectedTabChange)="onTabChange($event)" [(selectedIndex)]="tabIndex">
    @for (tab of tabs; track tab; let index = $index) {
      <mat-tab [label]="tab.label" [bodyClass]="[tab.type, 'tab-body']" [labelClass]="[tab.type, 'tab-label']">
        @if (tab.id === 'overview') {
          <h3>{{ds.task?.label || 'Task #' + ds.task.id}}</h3>

          <table>
            <tr>
              <td>Id</td>
              <td>{{ds.task.id}}</td>
            </tr>
            <tr>
              <td>Type</td>
              <td>{{ds.task.type}}</td>
            </tr>
            <tr>
              <td>Status</td>
              <td>{{ds.task | status}}d</td>
            </tr>
          </table>

          <h3>Events:</h3>

          <table>
            <thead>
              <tr>
                <td>date</td>
                <td>status</td>
                <td>message</td>
              </tr>
            </thead>
            <tbody>
              @for (event of ds.task.events; track $index) {
                <tr>
                  <td>{{event.timestamp * 1000 | date : 'short'}}</td>
                  <td>{{event.status}}</td>
                  <td><pre>{{event.message}}</pre></td>
                </tr>
              }
            </tbody>
          </table>
        } @else if (tab.id === 'config') {
          <app-optionset />
        } @else if (tab.id === 'add') {
          <app-upload (added)="changeTab($event.type, $event.id)" />
        } @else {
          <app-datatable />
        }
      </mat-tab>
    }
  </mat-tab-group>
}

