table {
  width: 100%;
}

tr
 {

  min-height: 48px;
  padding: 0 24px;
}

td {
  overflow: hidden;
  word-wrap: break-word;
  border-bottom: 1px solid silver;
}

button {
  margin-right: 1em;
}


.create {
  color: grey;
}

.commit {
  color: cadetblue;
}

.start {
  color: darkcyan;
}

.fail {
  color: darkred;
}

.finish {
  color: green;
}

.abort {
  color: orange;
}
