<div class="service-selector">
  <mat-form-field>
    <mat-label>Service</mat-label>
    <mat-select (selectionChange)="ds.selectService($event.value)" [ngModel]="ds.selectedService">
      @for (service of ds.services  | keyvalue; track $index) {
        <mat-option [value]="service.key">{{service.value.name}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  @if (ds.selectedService) {
    <p>Verbunden mit {{ds.serviceInfo?.id}} ({{ds.serviceInfo?.type}} version {{ds.serviceInfo?.version}})</p>
  }
  <button mat-button (click)="ds.addTask()">Train</button>
</div>
