tr td {
  cursor: pointer;
}

tr.version-error td,
tr.error td {
  color: silver;
  background: white;
}

tr.selected td {
  background: grey;
}

tr.ok:hover {
  background: silver;
}

.status.version-error,
.status.error {
  color: red;
}

.status.ok {
  color: green;
}
