<mat-card  style="margin: 1em; padding: 1em;">
  <h1>Coding Service Manager</h1>

  @if (ds.serviceInfo) {
    Connected with {{ds.serviceInfo.id}}.
  } @else {
    No service connected.
  }
</mat-card>


<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let element" (click)="selectService(element.info?.id)">{{element.id}}</td>
  </ng-container>

  <ng-container matColumnDef="url">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>URL</th>
    <td mat-cell *matCellDef="let element" (click)="selectService(element.info?.id)">{{element.url}}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
    <td mat-cell *matCellDef="let element" (click)="selectService(element.info?.id)">{{element.info?.type}}</td>
  </ng-container>

  <ng-container matColumnDef="version">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Version</th>
    <td mat-cell *matCellDef="let element" (click)="selectService(element.info?.id)">{{element.info?.version}}</td>
  </ng-container>

  <ng-container matColumnDef="api-version">
    <th mat-header-cell *matHeaderCellDef mat-sort-header matTooltip="Frontend version: {{cs.icsVersion}}">ICS API</th>
    <td mat-cell *matCellDef="let element" (click)="selectService(element.info?.id)">{{element.info?.apiVersion}}</td>
  </ng-container>

  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
    <td mat-cell *matCellDef="let element" (click)="selectService(element.info?.id)" [class]="'status ' + element.status">
      {{element.status}}
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr
    mat-row
    *matRowDef="let row; columns: displayedColumns;"
    [class]="row.status + (ds.serviceInfo && (row.info?.id === ds.serviceInfo.id) ? ' selected' : '')"
  ></tr>
</table>
