<div>
  @if (['text', 'password', 'email', 'number', 'search', 'tel', 'url'].includes(control.controlElementType)) {
    <mat-form-field>
      <mat-label>{{ control.label }}</mat-label>
      <input
        matInput
        [type]="control.controlElementType"
        [(ngModel)]="control.value"
        [value]="control.value"
        [minlength]="control.validators.minLength || 0"
        [required]="control.validators.required || false"
      />
      <mat-hint>{{control.description}}</mat-hint>
    </mat-form-field>

  } @else if (control.controlElementType === 'textarea') {
    <mat-form-field>
      <mat-label>{{ control.label }}</mat-label>
      <textarea
        matInput
        [(ngModel)]="control.value"
        [value]="control.value"
      ></textarea>
      <mat-hint>{{control.description}}</mat-hint>
    </mat-form-field>
  } @else if (control.controlElementType === 'checkbox') {
    <mat-form-field>
      <mat-checkbox
        [(ngModel)]="control.value"
        [checked]="control.value"
      >{{ control.label }}</mat-checkbox>
      <mat-hint>{{control.description}}</mat-hint>
    </mat-form-field>
  } @else if (control.controlElementType === 'range') {
    <mat-form-field>
      <mat-slider
        [(ngModel)]="control.value"
        [min]="control.options.min || 0"
        [max]="control.options.max || 100"
      >
      </mat-slider>
      <mat-hint>{{control.description}}</mat-hint>
    </mat-form-field>
  } @else if (control.controlElementType === 'select') {
    <mat-form-field>
      <mat-label>{{ control.label }}</mat-label>
      <mat-select [(ngModel)]="control.value" [required]="control.validators.required || false">
        @for (opt of control.options.options || []; track $index) {
          <mat-option [value]="opt">{{opt}}</mat-option>
        }
      </mat-select>
      <mat-hint>{{control.description}}</mat-hint>
    </mat-form-field>
  } @else if (control.controlElementType === 'array') {
    @if (isArray(control.value)) {
      <mat-card>
        <mat-card-header>
          {{control.label}}
        </mat-card-header>
        <mat-card-content>
          <p>{{control.description}}</p>
          @for (subControl of control.children; track $index) {
            <div class="sub-control">
              <button mat-mini-fab class='delete' (click)="delete($index)">-</button>
              <div style="width: 90%"><app-control [control]="subControl" /></div>
            </div>
          }
          <button mat-mini-fab (click)="add()">+</button>
        </mat-card-content>
      </mat-card>
    }
  } @else {
    <mat-error>unknown control: {{control.name}}</mat-error>
  }
</div>
