<div>
  @if (['text', 'password', 'email', 'number', 'search', 'tel', 'url'].includes(control.controlElementType)) {
    <mat-form-field>
      <mat-label>{{ control.label }}</mat-label>
      <input
        matInput
        [type]="control.controlElementType"
        [(ngModel)]="control.value"
        [value]="control.value"
        [minlength]="control.validators.minLength || 0"
        [required]="control.validators.required || false"
      />
    </mat-form-field>
  } @else if (control.controlElementType === 'textarea') {
    <mat-form-field>
      <mat-label>{{ control.label }}</mat-label>
      <textarea
        matInput
        [(ngModel)]="control.value"
        [value]="control.value"
      ></textarea>
    </mat-form-field>
  } @else if (control.controlElementType === 'checkbox') {
    <mat-form-field>
      <mat-checkbox
        [(ngModel)]="control.value"
        [checked]="control.value"
      >{{ control.label }}</mat-checkbox>
    </mat-form-field>
  } @else if (control.controlElementType === 'range') {
    <mat-form-field>
      <mat-slider
        [(ngModel)]="control.value"
        [min]="control.options.min || 0"
        [max]="control.options.max || 100"
      >
      </mat-slider>
    </mat-form-field>
  } @else if (control.controlElementType === 'select') {
    <mat-form-field>
      <mat-label>{{ control.label }}</mat-label>
      <mat-select [(ngModel)]="control.value" [required]="control.validators.required || false">
        @for (opt of control.options.options || []; track $index) {
          <mat-option [value]="opt">{{opt}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  } @else if (control.controlElementType === 'array') {
    @if (isArray(control.value)) {
      <mat-label>{{control.label}} <button mat-raised-button (click)="add()">+</button></mat-label>
      @for (subControl of control.children; track $index) {
        <div class="sub-control">
          <button mat-raised-button class='delete' (click)="delete($index)">-</button>
          <div style="width: 90%"><app-control [control]="subControl" /></div>
        </div>
      }
    }
  } @else {
    <mat-error>unknown control: {{control.name}}</mat-error>
  }
</div>
